 .panel-body strong{
    color: #375a7f;
}

.panel-title{
    display: inline-block;
}
.panel-title-right{
    float: right;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}

.bildirim{
	height: 40px;
	display: inline-block;
	padding: 10px;
}
.bildirim2{
	height: 40px;
	display: inline-block;
	padding: 10px;
}

.liste_eleman strong{
	color: white;
	padding: 10px;
	font-size: 25px;
}

.btn-group-vertical{
	margin-left: 20px;
}

.mesaj_eleman_kendi{
	border-color: #e78853;
}

.mesaj_eleman_kendi strong{
	color: #e78853;
}
.mesaj_eleman{
	border-color: #99cc99;
}

.mesaj_eleman strong{
	color: #99cc99;
}

.liste{
	display: contents;
}

.oda{
	display: contents;
}
.yeni{
	
}

.tarih{
	float: right;
	font-size: 12px;
}